<div class="container-fluid">
  <div class="container">


<h1><%= title %></h1>
<hr>

</script>
<p>
<a href="/tails/signup">New tail</a>
</p>
<% tails.forEach((e) => { %>
<div class="col-xs-12 col-sm-4 col-md-3">
<a href="/tails/<%= e.id %>">join</a>
<p>name: <%= e.name %> </p>
<p>time max: <%= e.time_max %> </p>
<p>TA: <%= e.creator %> </p>
<p>
<h3>Users tail</h3>
<ul>
<% e.tail_user.forEach((e => { %>
  <li><%= e.username %></li>
<% })); %>

</ul>
</p>
</div>
<% }) %>
</div>
</div>
