
<div class="container-fluid">
<div class="container">
  <div class="col-xs-6 col-sm-12 col-md-6">

<h1><%= title %></h1>
<p>
  <a href="/tails">Tails</a>
</p>
<p><strong>Hi, <%= users.username %> </strong></p>
<p>name: <%= tails.name %> </p>
<p>Time Session: <%= tails.time_max %> </p>
<div class="item-time">
  <h2 id="demo"></h2>
  <h1 class="info_time"></h1>
</div>
<p>TA: <%= tails.creator %> </p>
<p>
  <hr>
<h3>Users tail</h3>
<input id="tailID" style="display:none" type="text" name="tailID" value="<%= tails._id %>">
<div class="container-users">


</div>


</p>
<p>
  <a class="" href="#" id="addme">Add me here!!</a>
</p>
<br>
<br>
<p>
  <a href="/tails/<%= tails._id %>/edit">Edit tail</a>
</p>
<p>
  <a href="/tails/signup">New tail</a>
</p>
<p>
  <form class="" action="/tails/<%= tails._id %>/delete" method="POST">
    <button type="submit" name="button">Delete tail</button>
  </form>
</p>
</div>
</div>
</div>
<script type="text/javascript">
let myUser = <%- JSON.stringify(users) %>
let myTail = <%- JSON.stringify(tails) %>
</script>

<script type="text/javascript" src="../javascripts/tails/addme.js"></script>
<script type="text/javascript" src="../javascripts/time/currenttime.js"></script>
