<div id="profile">
    <h2><%= user.username %></h2>
  </div>
  
  <div id="container">
    <ul>
      <li class="collection-item avatar">
          <img src="<%= user.pic_path%>" alt="" class="circle">
      </li>
      <li>Username <%= user.username %></li>
      <li>Name: <%= user.name %></li>
      <li>LastName: <%= user.lastName %></li>
      <li>Email: <%= user.email %></li>
      <li>Rol: <%= user.rol %></li>
    </ul>
  </div>
  <a href="/auth/logout">Logout</a><br>
  <a href="/users/<%= user._id %>/editUser">Edit user</a> <br>
  <a href="/">Back home!</a>