  <div class="content">
      <div class="card">
          <div class="firstinfo"><img src="<%= user.pic_path%>" />
              <div class="profileinfo">
                  <h1><%= user.username %></h1>
                  <h3><%= user.name %></h3>
                  <h3><%= user.lastName %></h3>
                  <h3><%= user.email %></h3>
                  <h3><%= user.role %></h3>                
              </div>
          </div>
      </div>
      <div class="badgescard">
          <a href="/users/<%= user._id %>/editUser">Edit user</a>
          <a href="/auth/logout">Logout</a>
          <a href="/">Back home</a>
      </div>
  </div>
