<div id="profile">
    <h2><%= user.username %></h2>
  </div>
  
  <div id="container">
    <ul>
      <li class="collection-item avatar">
          <img src="<%= user.pic_path%>" alt="" class="userImg" width="100px" height="100px">
      </li>
      <li>Username <%= user.username %></li>
      <li>Name: <%= user.name %></li>
      <li>LastName: <%= user.lastName %></li>
      <li>Email: <%= user.email %></li>
      <li>Role: <%= user.role %></li>
    </ul>
  </div>
  <form action="/email/sendEmail" method="POST">
  <button type="submit">Send Email</button>
</form>
  <a href="/auth/logout">Logout</a><br>
  <a href="/users/<%= user._id %>/editUser">Edit user</a> <br>
  <a href="/">Back home!</a>